<div class="profile">
    <table>
        <thead>
            <tr>
                <th colspan="2"><%= @profile.first_name %> <%= @profile.last_name %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Weight</td>
                <td><%= @profile.weight %></td>
            </tr>
            <tr>
                <td>Height</td>
                <td><%= @profile.height %></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><%= @profile.gender %></td>
            </tr>
            <tr>
                <td>Activity</td>
                <td><%= @profile.activity %></td>
            </tr>
        </tbody>
    </table>

    <%= link_to("Edit", edit_profile_path) %>
</div>
